<footer class="pt-5 my-5 text-muted border-top">

  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    
    .column {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
    
    .column:first-child {
      text-align: left;
    }
    
    .column:last-child {
      text-align: right;
    }
  </style>
 
  <div class="column:first-child">
    <p>
      <a href="https://github.com/zhutaosheng/vernac/edit/main/{{ page.path }}" target="_blank" rel="noopener noreferrer" ><i class="fab fa-github"></i>Edit</a>
      <a href="{{ site.github.url }}/">Home</a> 
      <a href="{{ site.github.url }}/news">News</a>
      <a href="{{ site.github.url }}/learn">Learn</a>
      <a href="{{ site.github.url }}/discord">Discord</a>
      <a href="{{ site.github.url }}/about">About</a>
    </p>
  </div>
  <div class="column:first-child">
    <p>
      WE'RE IN SOCIAL
      In development: 
      Twitter & 
      YouTube
    </p>
  </div>
  <div class="column:first-child">
    <p>© Vernac</p>
  </div>
</footer>
