
<h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
<ul>
    <li><a href="{{ site.github.url }}/resources">Resources📖</a></li>
    <li>Social media📱
    <ul>
        <li><a href="{{ site.github.url }}/test">Test</a></li>
    </ul>
    </li>
    <li><a href="{{ site.github.url }}/contact">Contact📧</a></li>
</ul>

<style>
    /* To create a hyperlink in HTML without an underline 
    a {
      text-decoration: none;
      color: blue;
    }*/
    /* Remove bullets from the outer list */
    ul {
      list-style-type: none;
    }
    
    /* Add bullets to the nested list */
    ul ul {
      list-style-type: circle;
    }
    
    /* Indent the nested list */
    ul ul {
      margin-left: 20px;
    }
</style>