---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12 justify">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    {{ content }}
  </div>
</div>


<div class="row g-5 mb-5">
  {% include comments.html %}
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates Blogs</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>


<style>
  .justify {
    text-align: justify;
  }
</style>

{% include GoogleAnalyseTag.html %}